body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding: 1.5vw 3vw;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
    transition: background-color .5s !important;
    overflow-x: hidden;
    padding-bottom: 0;
}
a{
    color: black;
}
.bloque.seis a{
    color: black;
    text-decoration: underline;
    font-weight: 760;
}

.prev-arrow,
.next-arrow{
    position: absolute;
    top: 50%;
    background: transparent;
    color: white;
    width: 30px;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    font-size: 17px;
}

.prev-arrow{
    left: 5px;
}

.next-arrow{
    right: 5px;
}

*{
    /*box-sizing: border-box;*/
    padding: 0;
    margin: 0;
}

detalle {
    font-size: 1vw;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.2;
}

/*MENU*/

.menubar {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    height: 7.5vw;
    /* background: linear-gradient(to bottom, white, transparent); */
    /*
    height: 4vw;
    position: fixed;
    top: 0;
    padding-top:1.4vw;
    border: 1px solid red;
    */
    z-index: 99;
}

.menu-mobile {
    display: none;
}

*[min-weight]{
    transition: font-weight 0.2s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 1.5vw;
    left: 3vw;
    right: 3vw;
    z-index: 999;
}
nav.menu a.lang{
    margin-left: 10px;
    margin: 0;
    padding: 0;
}

nav .lang-switcher{
    margin-left: 10px;
}

nav.menu a.lang.current{
    font-weight: 840;
}
nav.menu a.active,
nav.menu a:hover{
    font-weight: 840;
}

header img {
    
}

header img.domestika {
    height: 1.6vw;
}

header img.tmdg {
    height: 1.2vw;
    padding-bottom: 1vw;
}

header img.tmdg {
    height: 1.2vw;
    padding: 0;
}

nav.menu a {
    font-size: 1.1vw;
    font-weight: medium;
    color: black;
    margin: 0 .5vw;
    text-decoration: none;
    transition: font-weight .2s;
}

nav.menu{
    font-size: 1.1vw;
}

nav.menu a:hover {
    font-weight: 840;
}

/*FONT SIZES*/

h1 {
    display: block;
    font-size: auto;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: inherit;
}

h1.titulo {
    margin: 1.75vw 0;
    font-size: 10vw;
    font-weight: 840;
    text-align: center;
    line-height: 0.75;
    letter-spacing: -1.75vw;
}

h2 {
    display: block;
    font-size: auto;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: inherit;
}

h2.subtitulo {
    margin: 2vw 0 1.5vw 0;
    font-size: 4.2vw;
    font-weight: 840;
    text-align: center;
    line-height: 0.75;
    letter-spacing: -0.5vw;
    /*min-height: 6vw;*/
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

p.destacado {
    font-size: 2.5vw;
    font-weight: 840;
    text-align: center;
    line-height: .9;
    letter-spacing: -0.2vw;
}

p.texto {
    font-size: 1.2vw;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    /*letter-spacing: -0.2vw;*/
}

p.texto span {
    font-weight: 840;
}

p.caption {
    font-size: 1.2vw;
    font-weight: 500;
    text-align: left;
    line-height: 1.1;
    margin-top: 1vw;
}

p.caption a {
    color: red;
    text-decoration: underline;
}

/*BLOQUES & COLS*/
.bloque {
    padding-top: 6vw;
    padding-bottom: 7.5vw;
    
}

.columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2vw;
}

.columna {
    width: 32%;
    margin-top: 6vw;
}

.columna-big {
    width: 64%;
    margin-top: 6vw;
}

.columna-bloque {
    width: 100%;
    margin-top: 6vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /*padding: 0 2vw;*/
}

.columna-bloque .columna{
    margin-top: 0 !important;
}

/*
.columna-bloque .columna .texto{
    padding: 0 !important;
}
*/

.black{
    color: black !important;
}

.lowercase{
    text-transform: lowercase;
}

.columna a{
    color: black;
}

span.subtitulo.mini{
    font-size: 2.45rem;
    margin-top:0.5vw;
}

/*HOME*/
.bloque.uno {
    margin-top: 1.5vw;

}

.bloque.uno .animacion-box{
    position: absolute;
    width: 38vw;
    height: 30vw;
    right: 5vw;
    margin-top:-19vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

/*
.bloque.uno img.animacion {
    position: absolute;
    width: 20vw;
    height: auto;
    right: 5vw;
    margin-top:-19vw;
}
*/

.bloque.uno img.animacion.gifs{
    max-width: 38vw;
    max-height: 30vw;
    width: auto;
    height: auto;
    right: -3vw;
    bottom: 3vw;
    display: flex;
    align-items: flex-end;
}

/*CATEOGRIAS*/
.bloque.dos .columnas {
    padding: 0 !important;
}

.bloque.dos .columna {
    position: relative;
}

.bloque.dos .columna-big{
    position: relative;
}

.bloque.dos .columna-bloque{
    position: relative;
}

.bloque.dos .columnas p.texto {
    padding: 0 2vw;
}

/*
.bloque.dos .columna:nth-child(7) .check-categoria img{
    width: 118%;
    height: 32.55vw;
    margin-left: -3vw;
}
*/

.bloque.dos .columna-big .check-categoria img {
    width: 30vw;
}

.bloque.dos .columna-big .check-categoria h2.subtitulo {
    width: 30vw;
    /*padding-top: 1vw;*/
}

.bloque.dos .columna-big .outer-box {
    display: flex;
}

.bloque.dos .columna-big .inner-box {
    width: 32vw;
}

.bloque.dos .columna-bloque .check-categoria img {
    width: 64vw;
}

.check-categoria {
    position: relative;
    cursor: pointer;
}

.check-categoria h2.subtitulo {
    min-height: 6vw;
}

.check-categoria:hover img.normal {
    opacity: 0;
}

.check-categoria.active .right img,
.check-categoria:hover .right img{
    opacity: 1;
}

.check-categoria img {
    width: 100%;
    /*margin-left: 12.5%;*/
}
.check-categoria h2.subtitulo{
    text-transform: uppercase;
}
.check-categoria img.normal, .check-categoria h2.subtitulo {
    opacity: .3;
    transition: opacity .2s;
    cursor: pointer;
}

.check-categoria.active img.select, .check-categoria.active h2.subtitulo,
.check-categoria:hover img.hover, .check-categoria:hover h2.subtitulo {
    opacity: 1;
    transition: .3s;
    cursor: pointer;
}



img.normal {
    
}

img.hover {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}

img.select {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
}

.item {
    /*width: 100%;*/
    display: flex;
    flex-flow: row;
    flex: 1;
    justify-content: left;
    align-items: flex-start;
    margin-top: 2vw;
    padding: 0 2vw;
}

.item.select {
    margin-top: 0 !important;
}

.item img {
    width: 2vw;
    height: auto;
    padding-right: .5vw;
}

.item a {
    font-size: .75vw;
    font-weight: 400 !important;
    text-decoration: none;
    color: black;
}

.item p.texto {
    padding: 0 !important;
}

/*
.bloque.uno img.animacion.gif-1{
    width: 30vw;
    right: -3vw;
}

.bloque.uno img.animacion.gif-2{
    width: 25vw;
    right: 3vw;
}

.bloque.uno img.animacion.gif-3{
    width: 20vw;
    right: 3vw;
    bottom: 2vh;
}

.bloque.uno img.animacion.gif-4{
    width: 25vw;
    right: 3vw;
    bottom: 2vh;
}

.bloque.uno img.animacion.gif-5{
    width: 30vw;
    right: 3vw;
    bottom: 3vh;
}

.bloque.uno img.animacion.gif-6{
    width: 25vw;
    right: 3vw;
    bottom: 3vh;
}

.bloque.uno img.animacion.gif-7{
    width: 22vw;
    right: 5vw;
    bottom: 3vh;
}

.bloque.uno img.animacion.gif-8{
    width: 30vw;
    right: 5vw;
    bottom: 3vh;
}

.bloque.uno img.animacion.gif-9{
    width: 23vw;
    right: 5vw;
    bottom: 3vh;
}

.bloque.uno img.animacion.gif-10{
    width: 23vw;
    right: 5vw;
    bottom: 3vh;
}

.bloque.uno img.animacion.gif-11{
    width: 23vw;
    right: 5vw;
    bottom: 3vh;
}


.bloque.uno img.animacion.gif-12{
    width: 24vw;
    right: 8vw;
    bottom: 3vh;
}

.bloque.uno img.animacion.gif-13{
    width: 24vw;
    right: 8vw;
    bottom: 2vh;
}

.bloque.uno img.animacion.gif-14{
    width: 24vw;
    right: 3vw;
    bottom: 2vh;
}


.bloque.uno img.animacion.gif-15{
    width: 18vw;
    right: 3vw;
    bottom: 2vh;
}


.bloque.uno img.animacion.gif-16{
    width: 20vw;
    right: 3vw;
    bottom: 2vh;
}
*/

/*JURADO*/
 
li.glide__slide img {
    width: calc(100% - 1px);
    height: calc(30vw - 1px);
    /*border: 2px solid black;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
}

.bloque.tres h2.subtitulo {
    height: 6.5vw;
}

.bloque.tres credit {
    font-size: 0.75vw;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 2.75;
}

/*FORM*/
.bloque.cuatro h1.titulo {
    padding-bottom: 5vw;
}

.bloque.cuatro h2.subtitulo {
    margin: 0 0 0.5vw 0 !important;
}

.bloque.cuatro h2.subtitulo.red, .bloque.cuatro p.texto.red {
    color: red;
}

.subtitulo img{
    height: 3.9vw;
    margin-left: 0.4vw;
    margin-bottom: -0.6vw;
}

.bloque.cuatro p.texto.centrado {
    width: 54.5vw;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 1vw;
    text-align: center;
    margin-top: 1vw;
}

.bloque.cuatro p.texto {
    width: 54.5vw;
    margin-left: 0;
    transform: translate(0);
    font-size: 1vw;
    text-align: left;
    /*margin-top: 1vw;*/
}

.bloque.cuatro p.texto.centrado {
    font-weight: 400 !important;
}

.formulario p.texto {
    font-weight: 400 !important;
}


b{
    font-weight: 770;
}

.form-step {
    margin-top: 5vw;
}

footer nav.menu a{
    text-transform: uppercase;
}

span.subtitulo{
    font-size: 2.45rem;
    font-weight: 750;
    display: block;
}

.form-step h2.subtitulo {
    letter-spacing: -0.35vw;
    line-height: 0.9;
}

.form-step button {
    margin-bottom: 1vw;
}

/*
.form-step detalle {
    line-height: 1.2;
}
*/


.glide__slide{
    height: auto !important;
}

.center{
    text-align: center !important;
}

.flex-column{
    display: flex;
}

/*
label{
    font-size: 2rem;
    font-weight: 900;
}
*/

.grow{
    flex: 1;
}

input, select, textarea{
    border: 0;
    border-bottom: 2px solid black;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    outline: 0;
    padding-left: 10px;
    background: transparent;
    height: 3.3vw;
    line-height: 1.2;
    border-radius: 0 !important;
}

input::placeholder, textarea::placeholder{
    opacity: .3;
    color: black;
}



input.error, select.error, textarea.error{
    border-color: red;
}

textarea{
    width: 100%;
    max-width: 90vw;
    border: 2px solid black;
    height: 22.5vw;
    margin-top: 1.25vw;
    padding-top: 1.25vw;
    /*resize: none; */
}

form {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
}

form h2.subtitulo {
    padding-right: 1vw;
}

.formulario {
    margin-top: 5vw;
}

.field-wrapper {
    padding-bottom: 0.5vw;
}

.field-wrapper p.texto{
    font-size: 1vw;
    padding-bottom: 1vw;
}


h2.subtitulo detalle {
    line-height: 2.75;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label{
    cursor: pointer;
}

input[type="checkbox"]:checked::before {
    background: url(/assets/arrow-category.svg);
    width: 3.6vw;
    height: 3.6vw;
    content: "";
    visibility: visible;
    display: block;
    margin-top: -.5vw;
    margin-left: -.5vw;
}

/*
input[type="checkbox"]:checked::before{
    background: url(/assets/arrow-category.svg);
    width: 40px;
    height: 40px;
    content: "";
    visibility: visible;
    display: block;
    margin-top: -14px;
    margin-left: 6px;
}
*/

input[type="checkbox"] + label h2{
    color: inherit;
}
input[type="checkbox"] + label:hover,
input[type="checkbox"]:checked + label{
    color: black;
    opacity: 1;
}
input[type="checkbox"]:checked {
    display: inline-block;
    visibility: hidden;
}

.step-categories{
    text-transform: uppercase;
    text-align: center;
}

.step-categories .field-option{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.field-option label {
    opacity: .3;
    transition: opacity .2s;
}


.field-option label:hover {
    opacity: 1;
}

button{
    background: black;
    color: white;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    font-weight: 900;
    border-radius: 5px;
    padding: 0.25vw 7.5vw;
    cursor: pointer;
    margin: auto;
    border: 0;
    margin-top: 0.5vw;
    transition: transform .2s;
}

button:hover{
    color: white;
    transform: scale(0.96);
}

input[type="file"]{
    display: none;
}

#file-label{
    cursor: pointer;
    /*border-bottom: 2px solid black;*/
}

.file-data{
    align-self: flex-end;
    font-size: 1vw;
    margin-bottom: 0.5vw;
}

select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: 0px;
    background-image: url(/assets/arrow-dropdown.svg);
    background-size: auto 70%;
}


/*TRIMARCHI*/
.bloque.cinco p.texto {
    font-size: 1.4vw;
    overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

/*FAQ*/
.bloque.seis{
    border-bottom: 0;
}

.bloque.seis h1.titulo {
    letter-spacing: 0;
    padding-bottom: 5vw;
    padding-left: 4.5vw;
}

.bloque.seis p.texto {
    font-size: 1.4vw;
    overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
    padding-left: 30.5vw;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding-top: 2vw;
    position: relative;
}

footer .footer-brand-domestica img{
    position: relative;
    top: -6px;
}

footer .menu{
    /*margin-left: 2vw;*/
    display: flex;
    flex: 1;
}

footer .menu a{
    font-weight: 600;
}

footer nav.menu a{
    margin: 0;
}

footer .go-to-top{
    color: #bbb0b0;
    text-decoration: none;
    font-size: 1rem;
}

footer .menu div{
    display: flex;
    flex-direction: column;
    margin-right: 2.5vw;
}

.footer-brand-domestica img.domestika{
    height: 1.6vw;
}

.footer-brand-domestica img.tmdg{
    height: 1.2vw;
}



footer .footer-icon img{
    width: 14vw;
    position: absolute;
    right: -2vw;
    top: -4.4vw;
    padding-bottom: .5vw;

}

footer .footer-icon{
    position: relative;
    top: -30px;
    margin-right: 40px;
}

/*MOBILE*/
@media (max-width: 768px) {
    footer{
        flex-direction: column;
    }
    footer nav.menu a{
        font-size: 1rem;
    }

    footer .menu{
        flex-direction: column;
    }
    footer .menu div{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .footer-icon img{
        width: 50vw;
    }
    footer > nav,
    footer > div{
        margin: auto !important;
        margin-bottom: 50px !important;
        position: static !important;
    }
}

aside{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 999;
    
}

aside .modal{
    background: red;
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.check-categoria-cd{
    display: flex;
    justify-content: space-evenly;
}

.check-categoria-cd .right img{
    opacity: .3;
    transition: opacity .2s;
    cursor: pointer;
}


/*MOBILE*/
@media (max-width:600px) {

    ::-webkit-scrollbar {
        display: none;
    }

    
    header img.domestika{
        height: 4.2vw;
    }

    

    header img.tmdg {
        height: 3.15vw !important;
        padding: 0;
    }

    .menu-mobile {
        display: inline;
        z-index: 99;
        transform: translateX(-50%);
        position: fixed;
        left: 50%;
        font-size: 3.9vw;
        top: 1.75vw;
        font-weight: 840;
    }

    nav.menu {
        position: fixed;
        height: 100vh;
        background: #feff3f;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding-top: 27.5vh;
        display: none;
    }

    nav.menu a {
        font-size: 7vw;
        color: black;
        display: block;
    }

    nav .lang-switcher {
        margin-left: 0;
        position: fixed;
        bottom: 3vw;
        transform: translateX(-50%);
    }

    nav.menu a.lang {
        display: inline;
    }

    .bloque.uno {
        margin-top: 7.5vw;
        position: relative;
    }

    .bloque.uno img.animacion {
        margin-top: -2.5vw;
        bottom: 20vw;
        right: 1.5vw;

    }

    p.destacado {
        font-size: 3.5vw;
    }

    button{
        font-size: 1.75rem;
    }
    input, select, textarea{
        font-size: 0.75rem;
    }

    .columna{
        width: 47%;
        overflow: hidden;

    }

    .bloque.seis p.texto{
        padding-left: 0;
    }

    .bloque.cinco .columna{
        width: 100%;
    }

    .field-wrapper p.texto,
    detalle,
    p.caption,
    .bloque.seis p.texto,
    .bloque.cinco p.texto,
    p.texto{
        font-size: 3.5vw;
    }

    h2.subtitulo{
        font-size: 6vw;
    }

    span.subtitulo.mini{
        font-size: 0.9rem;
        margin-top: .75vw;
        
    }
    
    li.glide__slide img {
        height: 43vw !important;
    }
    
    .bloque.tres h2.subtitulo {
        height: 11vw;
    }

    .bloque.tres .columna:last-of-type h2.subtitulo{
        height: 16vw;
    }

    /*
    .form-step h2.subtitulo{
        text-align: left;
    }
    */

    .bloque.dos .columna:nth-child(8) .check-categoria img {
        width: auto;
        height: 47.55vw;
    }

    .bloque.dos .columna-big{
        position: relative;
        width: 100%;
    }

    .bloque.dos .columna-big .outer-box {
        display: flex;
        flex-direction: row;
    }

    .bloque.dos .columna-big .inner-box {
        width: 50%;
    }

    .bloque.dos .columna-big .check-categoria img {
        width: auto;
        max-height: 27vh;
    }

    .bloque.dos .columna-bloque .check-categoria img {
        width: 100%;
    }
    
    .columna-bloque {
        width: 100%;
        margin-top: 6vw;
        display: flex;
        flex-wrap: wrap;
        /*
        justify-content: space-between;
        align-items: flex-start;
        */
        /*padding: 0 2vw;*/
    }
    
    
    .columna-bloque .columna {
        margin-top: 1vw !important;
        width: 100%;
    }

    /*
    .bloque.dos .columna:nth-child(7) .check-categoria img {
        width: 120%;
        height: 48vw;
        margin-left: -5vw;
    }
    */

    .bloque.cinco li.glide__slide img{
        height: auto !important;
        width: 100%;
    }

    aside .modal {
        left: 20px;
        font-size: 1.1rem;
    }

    .bloque.cuatro p.texto.centrado {
        width: 100%;
        margin-top: 1vw;
        font-size: 2.6vw;
        text-align: center;
    }

    .bloque.cuatro p.texto {
        width: 100%;
        /*margin-top: 1vw;*/
        font-size: 2.6vw;
        text-align: left;
    }

    

    input, select {
        font-size: 0.75rem;
        height: 5vw;
        width: 5vw;
    }

    span.subtitulo {
        font-size: 1.25rem;
        font-weight: 750;
        display: block;
    }
    
    footer{
        padding-top: 40px;
    }
    
    footer .footer-icon img {
        top: 5px;
        left: 7px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bloque.dos .columna-big .check-categoria h2.subtitulo{
        width: auto;
    }
}

