body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding: 1.5vw 3vw;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

    transition: background-color 2s;
}

*{
    /*box-sizing: border-box;*/
    padding: 0;
    margin: 0;
}

.menubar {
    position: absolute;
    width: 93.9vw;
    /*
    height: 4vw;
    position: fixed;
    top: 0;
    padding-top:1.4vw;
    border: 1px solid red;
    */
}

*[min-weight]{
    transition: font-weight 0.2s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 1.5vw;
    left: 3vw;
    right: 3vw;
}

nav.menu a:hover{
    font-weight: 600;
}

header img {
    
}

header img.domestika {
    height: 1.6vw;
}

header img.tmdg {
    height: 1.2vw;
}

header img.tmdg {
    height: 1.2vw;
    padding: 0;
}

nav.menu a {
    font-size: 1.1vw;
    font-weight: medium;
    color: black;
    margin: 0 .5vw;
    text-decoration: none;
    transition: font-weight .2s;
}

nav.menu a:hover {
    font-weight: 840;
}

h1 {
    display: block;
    font-size: auto;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: inherit;
}

h1.titulo {
    margin: 1.75vw 0;
    font-size: 11.6vw;
    font-weight: 840;
    text-align: center;
    line-height: 0.75;
    letter-spacing: -1.75vw;
}

h2 {
    display: block;
    font-size: auto;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: inherit;
}

h2.subtitulo {
    margin: 2vw 0 1.5vw 0;
    font-size: 4.2vw;
    font-weight: 840;
    text-align: center;
    line-height: 0.75;
    letter-spacing: -0.6vw;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

p.destacado {
    font-size: 2.5vw;
    font-weight: 840;
    text-align: center;
    line-height: .9;
    letter-spacing: -0.2vw;
}

p.texto {
    font-size: 1.2vw;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    /*letter-spacing: -0.2vw;*/
}

p.texto span {
    font-weight: 840;
}

p.caption {
    font-size: 1vw;
    font-weight: medium;
    text-align: left;
    line-height: 1.1;
    margin-top: 1vw;
}

.bloque {
    margin-top: 6vw;
    margin-bottom: 6vw;
    padding-bottom: 7.5vw;
    border-bottom: 2px solid black;
}

.bloque.uno {
    /*height: 70.5vh;*/

}

.bloque.uno img.animacion {
    position: absolute;
    width: 20vw;
    height: auto;
    right: 5vw;
    margin-top:-19vw;
}

.columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2vw;
}

.columna {
    width: 32%;
    margin-top: 6vw;
}

.check-categoria img {
    width: 100%;
    margin-left: 12.5%;
}

.item {
    width: 100%;
    display: flex;
    flex-flow: row;
    flex: 1;
    justify-content: left;
    align-items: flex-start;
    margin-top: 2vw;
}

.item img {
    width: 2vw;
    height: auto;
    padding-right: .5vw;
}

.item a {
    font-size: .75vw;
    font-weight: 400 !important;
    text-decoration: none;
    color: black;
}

img.jurado {
    width: 100%;
    height: 30vw;
    border: 2px solid black;
}

.bloque.tres h2.subtitulo {
    height: 6.5vw;
}

footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding-top: 20px;
}

footer .footer-brand-domestica img{
    position: relative;
    top: -6px;
}

footer .menu{
    margin-left: 20px;
    display: flex;
    flex: 1;
}

footer .menu a{
    font-weight: 600;
}

footer .go-to-top{
    color: #bbb0b0;
    text-decoration: none;
    font-size: 1rem;
}

footer .menu div{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

footer .footer-icon img{
    width: 10vw;
    position: relative;
    top: -11px;
    left: 20px;
}

footer .footer-icon{
    position: relative;
    top: -46px;
    margin-right: 40px;
}

@media (max-width: 768px) {
    footer{
        flex-direction: column;
    }
    footer nav.menu a{
        font-size: 1rem;
    }

    footer .menu{
        flex-direction: column;
    }
    footer .menu div{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .footer-icon img{
        width: 50vw;
    }
    footer > nav,
    footer > div{
        margin: auto !important;
        margin-bottom: 50px !important;
        position: static !important;
    }
}